li,
.login a,
.logout {
    font-size: 16px;
    font-weight: 500;
    transition: 0.3 ease-in;
}

li a.active,
a.login.active {
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    border-radius: 0 !important;
    background-color: #ff8717 !important;
}

li a:hover,
a.login:hover {
    font-size: 16px;
    font-weight: 700;
    color: #fff !important;
    border-radius: 0 !important;
    background-color: #ff8717 !important;
}